{% extends 'base.html' %}

{% block content %}

<div class="container mt-5" style="width: 70%;">
    <div class="col">
        <h1 class="text-center">Part Details</h1>
        <h2 class="text-center">{{ part.name }}</h2>
        <h3 class="text-center">{{ song_title }}</h3>
        <h3 class="text-center">{{ concert_title }}</h3>
        
        <div class="d-flex justify-content-center">
            <table class="table table-striped mt-5" style="width: 50%">
                <thead>
                    <tr>
                        <th class="text-center" scope="col">File Name</th>
                        <th class="text-center" scope="col">pdf</th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in part.files.all %}
                        <tr>
                            <!-- TODO: Add Url to part_detail page -->
                            <td>{{ file.file_name }}</td>
                            <td><a href="/media/{{ file.pdf }}" target="_blank">{{ file.pdf }}</a></td>
                        </tr>
                    {% endfor %}
                        
                </tbody>
            </table>
        </div>

        <div class="d-flex justify-content-center">
            <a href="{% url 'music:song_detail' pk=song_pk concert_pk=concert_pk %}" 
            class="d-block btn btn-primary btn-lg my-5">BACK</a>
        </div>
    </div>
        
</div>

{% endblock  %}